* {
  margin: 0; padding: 0; box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

main h1 {
  margin-bottom: 4rem;
}

main p {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 4rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background: #00bbff;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,187,255,0.4);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background: #0088cc;
  box-shadow: 0 6px 14px rgba(0,136,204,0.6);
}

#logo-croisic {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  overflow: hidden;       /* autorise le dépassement */
  height: 350px;           /* ou la hauteur souhaitée */
  position: relative;      /* si besoin */
}

#logo-croisic img {
  max-width: none;         /* enlève la limitation de taille */
  max-height: none;
}