:root {
    --primary-color: #0073e6;
    --secondary-color: #005bb5;
    --hover-color: #004494;
    --background-color: #f0f0f0;
    --light-background: #f9f9f9;
    --text-color: #333;
    --subtext-color: #666;
    --white-color: white;
    --border-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
}

header {
    padding: 20px 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    text-decoration: none;
    color: var(--white-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1;
    width: 85%;
    margin: 0 auto;
}

main h2 {
    font-size: 2em;
    color: var(--text-color);
}

main p {
    font-size: 1.2em;
    color: var(--subtext-color);
}

footer {
    padding: 10px 0;
}

footer a {
    color: var(--white-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#day-container, #week-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.tab {
    margin-bottom: 20px;
    overflow-x: auto;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#weather-day-tab, #weather-week-tab {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#weather-day-tab th, #weather-day-tab td, #weather-week-tab th, #weather-week-tab td {
    padding-left: 0;      /* Aucune espace à gauche */
    padding-right: 0;   
    border: 1px solid var(--border-color);
}

#weather-day-tab th, #weather-week-tab th {
    background-color: var(--primary-color);
    color: var(--white-color);
}

#weather-day-tab td, #weather-week-tab td {
    background-color: var(--light-background);
}

#weather-day-tab th:first-child,
#weather-day-tab td:first-child,
#weather-week-tab th:first-child,
#weather-week-tab td:first-child {
    width: 140px;
    max-width: 140px;
}

/* Cible les cellules sous la première ligne fusionnée */
#temperature-24h-row td,
#rain-24h-row td,
#wind-24h-row td,
#wind-gust-24h-row td,
#wind-direction-24h-row td,
#pressure-24h-row td,
#uv-24h-row td,
#weather-24h-row td {
    padding-top: 15px;    /* Espace en haut */
    padding-bottom: 10px;  /* Espace en bas */
    width: 10px;
    max-width: 10px;
    text-align: center;
}

.grid-graphs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
}

.Temp, .Rain, .Wind, .Pressure {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.Temp canvas, .Rain canvas, .Wind canvas, .Pressure canvas {
    width: 100%;
    height: 600px;
}