body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le body prend au moins toute la hauteur de la fenêtre */
}

html, body {
    height: 100%; /* Assurez-vous que le HTML et le body prennent toute la hauteur */
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
.header-link {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #005bb5;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
}
nav ul li a:hover {
    background-color: #004494;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1; /* Permet au main de prendre tout l'espace disponible */
    width: 75%;
    margin: 0 auto; /* Centre le main horizontalement */
}
main h2 {
    font-size: 2em;
    color: #333;
}
main p {
    font-size: 1.2em;
    color: #666;
}

#weather-table th, #weather-table td {
    text-align: center;
    border: 1px solid #ddd;
    height: 35px;
}
#weather-table th {
    background-color: #007bff;
    color: white;
}
#weather-table td {
    background-color: #f9f9f9;
}
#weather-table tr:nth-child(even) td {
    background-color: #f1f1f1;
}

.day-container {
    display: grid; 
    grid-template-columns: 1fr 5fr 5fr 1fr; 
    grid-template-rows: auto repeat(2, 1fr); /* Utilise 2 fois la hauteur du graphique */
    gap: 10px; 
    grid-template-areas: 
      ". Tableau Tableau ."
      ". Temp Rain ."
      ". Wind Pressure ."; 
    align-items: stretch; /* S'étendre pour remplir l'espace */
}

.Tableau {
    grid-area: Tableau;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Tableau h2 {
    text-align: center;
    margin: 0;
}

.Temp, .Rain, .Wind, .Pressure {
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100% !important; /* Force le canvas à remplir l'espace */
    height: auto !important; /* Permet de gérer l'aspect ratio */
    max-height: 300px; /* Ajustez cette valeur selon votre besoin */
}


footer {
    background-color: #0073e6;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}