.container-tab {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.weather-forecast-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  background-color: #fff;
}

.weather-forecast-table th {
  padding: 10px 5px;
}

.weather-forecast-table td {
  padding: 1px 1px;
}

.weather-forecast-table th, td {
  border: 0.5px solid #ccc;
  font-size: 0.8rem;
}

.weather-forecast-table thead {
  background-color: #f5f5f5;
  font-weight: bold;
}

.weather-forecast-table tr:last-child td {
  border-bottom: none;
}

.weather-forecast-table th:first-child {
  border-top-left-radius: 12px;
}

.weather-forecast-table th:last-child {
  border-top-right-radius: 12px;
}

.weather-forecast-table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.weather-forecast-table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.weather-forecast-table td,
.weather-forecast-table th {
  text-align: center;
  vertical-align: middle;
}

.weather-icon {
  width: 25px;
  height: 25px;
}