#loading-message {
  font-size: 1rem;
  color: #555;
  animation: blink 2s infinite;
  margin: 2rem auto;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  border-radius: 8px;
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  z-index: 1000;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

#forecast-day {
  gap: 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 90%;
}

#forecast-week {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 90%;
}

#forecast-week-table {
  margin: 0 auto;
}

#forecast-day-table-container {
  flex: 0 1 60%;
  max-width: 60%;
  min-width: 0;
}

.forecast-graphs {
  flex: 0 1 40%;
  max-width: 40%;
  min-width: 0;
}

.forecast-chart {
  max-height: 20rem;
  max-width: 60rem;
}

.forecast-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  background-color: #fff;
}

.forecast-table th {
  padding: 10px 10px;
  width: 10%;
}

.forecast-table td {
  padding: 1px 1px;
}

.forecast-table th,
.forecast-table td {
  border: 0.5px solid #ccc;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .forecast-table th,
  .forecast-table td {
    font-size: 2vw;
  }

  .forecast-table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
}

.forecast-table thead {
  background-color: #f5f5f5;
  font-weight: bold;
}

.forecast-table tr:last-child td {
  border-bottom: none;
}

.forecast-table thead th:first-child {
  border-top-left-radius: 12px;
}

.forecast-table thead th:last-child {
  border-top-right-radius: 12px;
}

.forecast-table td,
.forecast-table th {
  text-align: center;
  vertical-align: middle;
}

.weather-day-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0.97);
}

.weather-week-icon {
  width: 30px;
  height: 30px;
  padding: 3px;
  filter: brightness(0.97);
}

.badge {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  user-select: none;
  margin: 0.4rem 0.4rem;
}

.badge-rain {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  padding: 0.2em 0.8em;
  border-radius: 999px;
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
  margin: 0.4rem 0.4rem;
}